.button {
  display: flex;
  padding: var(--button--vertical-padding) var(--button--horizontal-padding);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;

  border: 1px solid var(--_themes---button--border);
  border-radius: var(--button--roundness);

  background-color: var(--_themes---button--background);

  transition: color 200ms ease,background-color 200ms ease;

  color: var(--_themes---button--text);
  text-align: center;
  text-decoration: none;
}

.button:where(.w-variant-968441c1-b8dc-f118-b928-54fbfb1b4e29) {
  border: 1px solid var(--_themes---button--secondary-border);
  background-color: var(--_themes---button--secondary-background);
  color: var(--_themes---button--secondary-text);
}

.button:where(.w-variant-b20611df-9443-f4d0-74ac-d90a421984ed) {
  padding: var(--button--small-vertical-padding) var(--button--small-horizontal-padding);
}

.button:where(.w-variant-34865302-caac-9222-4f80-34a743fd6c1d) {
  padding: var(--button--small-vertical-padding) var(--button--small-horizontal-padding);
  border: 1px solid var(--_themes---button--secondary-border);
  background-color: var(--_themes---button--secondary-background);
  color: var(--_themes---button--secondary-text);
}

.button:hover {
  border-color: var(--_themes---button--hover-border);
  background-color: var(--_themes---button--hover-background);
}

.button:hover:where(.w-variant-968441c1-b8dc-f118-b928-54fbfb1b4e29) {
  border-color: var(--_themes---button--secondary-hover-border);
  background-color: var(--_themes---button--secondary-hover-background);
  color: var(--_themes---button--secondary-hover-text);
}

.button:hover:where(.w-variant-34865302-caac-9222-4f80-34a743fd6c1d) {
  border-color: var(--_themes---button--secondary-hover-border);
  background-color: var(--_themes---button--secondary-hover-background);
  color: var(--_themes---button--secondary-hover-text);
}

.button.cc-secondary {
  align-items: center;
  border: 1px solid var(--_themes---button--secondary-border);
  background-color: var(--_themes---button--secondary-background);
  color: var(--_themes---button--secondary-text);
}

.button.cc-secondary:hover {
  border-color: var(--_themes---button--secondary-hover-border);
  background-color: var(--_themes---button--secondary-hover-background);
}

.button.cc-small {
  padding: var(--button--small-vertical-padding) var(--button--small-horizontal-padding);
}

.text-sm {
  font-size: var(--_typography---text-small--size);
  line-height: var(--_typography---text-small--line-height);
  letter-spacing: var(--_typography---text-small--letter-spacing);
}

.icon {
  width: var(--icon--medium);
  height: var(--icon--medium);
}

.icon.cc-sm {
  width: var(--icon--small);
  height: var(--icon--small);
}

.icon.cc-lg {
  width: var(--icon--large);
  height: var(--icon--large);
}