.link {
  display: flex;
  align-items: center;
  grid-column-gap: 0.25rem;
}

.icon {
  width: var(--icon--medium);
  height: var(--icon--medium);
}

.icon.cc-sm {
  width: var(--icon--small);
  height: var(--icon--small);
}

.icon.cc-lg {
  width: var(--icon--large);
  height: var(--icon--large);
}